﻿@model Outletshop.Models.Database.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";}
}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Log ind</h3>

                        </div>
                        <div class="form-top-right">

                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {


                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>

                                    @Html.EditorFor(model => model.accountMail)

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>

                                    @Html.PasswordFor(model => model.accountPassword)
                                </div>
                                @*<input type="submit" class="btn" value="Log ind" >*@
                                <input type="submit" value="Log ind" />
                                <br />
                                <br />

                                @Html.ActionLink("Glemt adgangskode", "ForgotPassword", "Auth")

                                @Html.ValidationSummary(true, "dd", new { @class = "alert alert-danger" })


                            </form>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    @*<h3>...or login with:</h3>*@
                    <div class="social-login-buttons">
                        <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Javascript -->
<script src="~/assets/js/jquery-1.11.1.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.backstretch.min.js"></script>
<script src="~/assets/js/scripts.js"></script>
<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->
