﻿@model IEnumerable<Outletshop.Models.Database.Product>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row text-center">

@foreach (var item in Model)

{
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.productName)</h3>
                    <p>@Html.DisplayFor(modelItem => item.productDescription)</p>

                
                    <p>@Html.DisplayFor(modelItem => item.consignment.salePrice)</p>
                    <p>
                        @Html.ActionLink("Se Produkt", "View", new { id = item.productId }, new { @class= "btn btn-primary" })
                  
                    </p>
                </div>
            </div>
        </div>

}
        
    
    </div>



   

          

             


              

          


           

         


</body>
</html>
