﻿@model Outletshop.Models.Database.Product
@using Outletshop.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <style>
        .gold {
            color: #FFBF00;
        }

        /*********************************************
                            PRODUCTS
        *********************************************/

        .product {
            border: 1px solid #dddddd;
            height: 321px;
        }

            .product > img {
                max-width: 230px;
            }

        .product-rating {
            font-size: 20px;
            margin-bottom: 25px;
        }

        .product-title {
            font-size: 20px;
        }

        .product-desc {
            font-size: 14px;
        }

        .product-price {
            font-size: 22px;
        }

        .product-stock {
            color: #74DF00;
            font-size: 20px;
            margin-top: 10px;
        }

        .product-info {
            margin-top: 50px;
        }

        /*********************************************
                            VIEW
        *********************************************/

        .content-wrapper {
            max-width: 1140px;
            background: #fff;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 10px;
            border: 0px;
            border-radius: 0px;
        }

        .container-fluid {
            max-width: 1140px;
            margin: 0 auto;
        }

        .view-wrapper {
            float: right;
            max-width: 70%;
            margin-top: 25px;
        }

        .container {
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }

        /*********************************************
                        ITEM
        *********************************************/

        .service1-items {
            padding: 0px 0 0px 0;
            float: left;
            position: relative;
            overflow: hidden;
            max-width: 100%;
            height: 321px;
            width: 130px;
        }

        .service1-item {
            height: 107px;
            width: 120px;
            display: block;
            float: left;
            position: relative;
            padding-right: 20px;
            border-right: 1px solid #DDD;
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
        }

            .service1-item > img {
                max-height: 110px;
                max-width: 110px;
                opacity: 0.6;
                transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
            }

                .service1-item > img:hover {
                    cursor: pointer;
                    opacity: 1;
                }

        .service-image-left {
            padding-right: 50px;
        }

        .service-image-right {
            padding-left: 50px;
        }

            .service-image-left > center > img, .service-image-right > center > img {
                max-height: 155px;
            }
    </style>

    <div class="container-fluid">
        <div class="content-wrapper">
            <div class="item-container">
                <div class="container">
                    <div class="col-md-6">
                        <div class="product col-md-6 service-image-left">

                            <center>
                                <img id="item-display" src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
                            </center>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="product-title">@Html.DisplayFor(model => model.productName)</div>


                        @*<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>*@

                        <hr>
                        <div class="product-price">DKK @Html.DisplayFor(model => model.consignment.salePrice)</div>

                        <br />

                        Vælg antal: <br />
                        <div class="btn-group cart">


                            @using (Html.BeginForm("OrderNow", "Cart"))
                            {
                                if (ViewBag.getStock <= 0)
                                {
                                    @ViewBag.Message

                                }

                                else if (ViewBag.getStock > 0)
                                {
                                    @ViewBag.Message

                                    


                                    @ViewBag.Stock
                                 

                                    <br />
                                    <br />

                                    @Html.ActionLink("Læg i kurv", "OrderNow", "Cart", new { id = Model.productId }, null)




                                }




                            }

                        
                            @ViewBag.Session





                        </div>


                        <div class="col-md-12 product-info">
                            <ul id="myTab" class="nav nav-tabs nav_tabs">

                                <li class="active"><a href="#service-one" data-toggle="tab">Produkt beskrivelse</a></li>
                                <li><a href="#service-two" data-toggle="tab">Produkt information</a></li>


                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="service-one">

                                    <section class="container product-info">
                                        @Html.DisplayFor(model => model.productDescription)
                                    </section>

                                </div>
                                <div class="tab-pane fade" id="service-two">

                                    <section class="container"></section>

                                </div>
                                <div class="tab-pane fade" id="service-three">

                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">

            </div>
        </div>
    </div>


</body>
</html>
