﻿@model Outletshop.Models.Database.ConsignmentProduct




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">




    <title>Create</title>
</head>
<body>


    @section scripts{
        @Scripts.Render("~/bundle/summernote",
                    "~/Scripts/home-index.js")

        <script type="text/javascript" style="margin-top:100px;">

            //File Upload response from the server
            Dropzone.options.dropzoneForm = {
                maxFiles: 2,
                init: function () {
                    this.on("maxfilesexceeded", function (data) {
                        var res = eval('(' + data.xhr.responseText + ')');

                    });
                    this.on("addedfile", function (file) {

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button>Fjern billede</button>");


                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                    });
                }
            };






        </script>



    }












    <style>
        #exTab1 .tab-content {
            color: black;
            border-style: solid;
            border-width: 1px;
            border-color: #c7c2c2;
            padding: 5px 15px;
        }

        #exTab2 h3 {
            color: white;
            background-color: #428bca;
            padding: 5px 15px;
        }

        /* remove border radius for the tab */

        #exTab1 .nav-pills > li > a {
            border-radius: 0;
        }

        /* change border radius for the tab , apply corners on top*/

        #exTab3 .nav-pills > li > a {
            border-radius: 4px 4px 0 0;
        }

        #exTab3 .tab-content {
            color: white;
            background-color: #428bca;
            padding: 5px 15px;
        }
    </style>








    <div id="exTab1">
        <ul class="nav nav-pills">
            <li class="active mainclass">
                <a href="#1a" data-toggle="tab">Produktinfornation</a>
            </li>
            <li class="mainclass class2">
                <a href="#2a" data-toggle="tab">Produktgalleri</a>
            </li>

        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane  active " id="1a">

                <form action="~/Account/Create" method="post" enctype="multipart/form-data" id="myform">
                    @Html.AntiForgeryToken()

                    <div class="col-md-2">

                        <br>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">


                            @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Produkttitel" } })
                            @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })

                        </div>



                        <div class="form-group">


                            @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lagerbeholdning" } })
                            @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.costPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Købspris" } })
                            @Html.ValidationMessageFor(model => model.costPrice, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.salePrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Salgspris" } })
                            @Html.ValidationMessageFor(model => model.salePrice, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.styleNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Stylr nr" } })

                        </div>


                        <div class="form-group">


                            @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", @placeholder = "Størrelse" } })
                            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">


                            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control", @placeholder = "Farve" } })

                        </div>

                        <div class="form-group">

                            @Html.DropDownList("brandId", null,"Vælg mærke", htmlAttributes: new { @class = "form-control" })

                        

                        </div>






                        <div class="col-md-12">

                            @*<input type="submit" value="Tilføj vareparti" class="btn btn-default" />*@

                        </div>
                    </div>

                    <div class="col-md-8">

                        <div class="form-group">
                            <br />

                            <div id="summernote">
                                @Html.TextAreaFor(model => model.productDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Produktbeskrivelse" } })
                                @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })

                            </div>



                        </div>

                    </div>

                </form>

            </div>


            <div class="tab-pane" id="2a">
                <form action="~/Account/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                    <div class="fallback img-responsive">
                        <input name="file" type="file" multiple />
                        <input type="submit" value="Upload" />
                    </div>
                </form>

            </div>

        </div>
        <br />
        @*<input type="submit" value="Tilføj vareparti" class="btn btn-default" />*@
        <button form="myform" class="btn btn-default" type="submit">Submit that form over there</button>
        <br />



    </div> <!--tab slutter her-->













    <div>
        @Html.ActionLink("Back to List", "ProductList")
    </div>





</body>
</html>
