﻿@model Outletshop.Models.Database.Consignment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Er du sikker?</h3>
    <div>
        <h4>Varepartiet samt. de tilhørende produkter vil blive slettet permanent</h4>
        <hr />

    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ProductList")
            </div>
        }
    </div>
</body>
</html>
