﻿@model IEnumerable<Outletshop.Models.Database.Product>

@{
    ViewBag.Title = "Produktkatalog ";
  
}

<h2>Produktkatalog </h2>

<p class="pull-right">
    @Html.ActionLink("Tilføj  vareparti", "Create") &nbsp; <i class="glyphicon glyphicon-plus"></i>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignment.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consignment.costPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.consignment.salePrice)
        </th>
      
      
        <th>
            @Html.DisplayNameFor(model => model.consignment.Size)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.consignment.Color)
        </th>

 
    
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignment.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignment.costPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consignment.salePrice)
        </td>

   
        <td>
            @Html.DisplayFor(modelItem => item.consignment.Size)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.consignment.Color)
        </td>
   
     
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.productId }, new { @class = "glyphicon glyphicon-pencil" }) &nbsp;
            @Html.ActionLink(" ", "Details", new { id=item.productId }, new { @class = "glyphicon glyphicon-file" }) &nbsp;
            @Html.ActionLink(" ", "Delete", new { id=item.productId }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
