﻿@model IEnumerable<Outletshop.Models.Database.Order>
@using Outletshop.Models.Database

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
    
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderItem.quantity)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {


        @*@foreach (var List<OrderItem> testc in ass)
        {
        }*@
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderItem.orderName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.orderId }) |
                @Html.ActionLink("Details", "Details", new { id=item.orderId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.orderId })*@
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
