﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dropzonescss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>




    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
            
                        Outletshop
                  
                </li>

                <li class="sidebar-ui">

              
                        <img src="~/Content/thomas.jpg" class="profile-image img-circle">&nbsp; @Html.Raw(ViewBag.Username)
  
           

              

 
               
             

                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-home"></i> &nbsp; Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-tags"></i> &nbsp; Ordrer</a>
                 
                   
                  
                </li>
                <li>
    
                    <a href="~/Account/ProductList"><i class="glyphicon glyphicon-shopping-cart"></i> &nbsp; Produktkatelog</a>
                </li>
                @*<li>
                    <a href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; Kunder</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-envelope"></i> &nbsp; Webmail</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-signal"></i> &nbsp; Statistikker</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i> &nbsp; Indhold</a>
                </li>*@
            </ul>
        </div>
       

            <!-- /#sidebar-wrapper -->
            <div id="page-nav-wrapper">
                <div class="navbar navbar-custom navbar-static-top">
                    <div class="container-full">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                            <a href="" class="navbar-brand" id="menu-toggle-desktop"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                        </div>
                        <div class="navbar-collapse collapse">



                            <ul class="nav navbar-nav pull-right">
                                <li><a href="#" class="glyphicon glyphicon-envelope"></a></li>
                                <li><a href="#" class="glyphicon glyphicon-tag"></a></li>
                                <li><a href="#" class="glyphicon glyphicon-flag"></a></li>
                                <li class="dropdown pull-left">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/Content/thomas.jpg" class="profile-image img-circle">&nbsp; @Html.Raw(ViewBag.Username)</a>
                                    <ul class="dropdown-menu pull-right" style="width:200px;">

                                        <li><a href="#">Konto indstillinger</a></li>
                                        <li><a href="#">Generale indstillinger</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"> </li>

                                        <li><a href="#">Hjælp</a></li>
                                        <li>@Html.ActionLink("Log ud", "Logout", "Auth")</li>
                                    </ul>
                                </li>
                                <li><a href="#" class="glyphicon glyphicon-cog"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        <div id="page-breadcrumbs-wrapper">
            Du er her: @ViewBag.Title
        </div>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                            @*<h1>Simple Sidebar</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>*@

                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>



    <div class="container body-content">
    


    </div>

   

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle-desktop").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        $("#menu-toggle-mobile").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
