﻿
@using Outletshop.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Outlet-shop.dk</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dropzonescss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Outletshop", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">

                    <li>@Html.ActionLink("Log på", "Logout", "Auth")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-second navbar-fixed-top" style="margin-top:50px;">
        <div class="container hidden-xs">


            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("MÆRKER", "Logout", "Brands")</li>
                <li>@Html.ActionLink("HERRETØJ", "Logout", "Auth")</li>
                <li>@Html.ActionLink("MESSER", "Logout", "Auth")</li>
                <li>@Html.ActionLink("OM OS", "Logout", "Auth")</li>
                <li>@Html.ActionLink("KONTAKT", "Logout", "Auth")</li>

            </ul>

            <ul class="nav navbar-nav pull-right">

                @if (Session["cart"] == null)
                {
                    <li>
                        @Html.ActionLink("Kurven er tom", "Checkout", "Cart")

                    </li>



                }

                else
                {
                    //List<Item> items = null;
                    <li>
              
                        @Html.ActionLink("Læg i kurv", "Checkout", "Cart")

                    </li>
                   
                    //Item item in (List<Item>)Session["cart"] ?? Enumerable.Empty<Item>()
              
                }







            </ul>




        </div>
    </div>
    <div class="jumbotron" style="margin-top:50px;">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>




    <div class="container body-content">








        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
