﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accept</title>
</head>
<body>
    <div> 

        Tak for din ordre, vi har sendt dig en bekræftelsesmail. 
    </div>
</body>
</html>
