﻿@{
    Layout = null;
}

@using Outletshop.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <div>
        <table cellpadding="2" , cellspacing="2" border="1">

            <tr>
                <th>
                    delete
                </th>
                <th>
                    Id
                </th>
                <th>
                    ProductName
                </th>
                <th>
                    Product Price
                </th>
                <th>
                    Quanty
                </th>
                <th>
                    Total
                </th>

            </tr>

            @foreach (Item item in (List<Item>)Session["cart"])
            {
                <tr>
                    <td>@Html.ActionLink("Delete", "Delete", "Cart", new { id = item.Product.productId }, null)</td>
                    <td>@item.Product.productId</td>
                    <td>@item.Product.productName</td>
                    <td>@item.Product.consignment.salePrice</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.consignment.salePrice * item.Quantity)</td>





                </tr>

            }
            @Html.ActionLink("Fortsæt", "Index", "Products");

        </table>
    </div>
</body>
</html>