﻿@model Outletshop.Models.Database.ItemOrder
@using Outletshop.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut</title>
</head>
<body>
  
@using (Html.BeginForm("Accept", "Cart"))
{
    <div class="col-md-6">
        <h1>
            Kunde informationer
        </h1>
        <br />

        <div class="form-group">

            @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fornavn" } })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Efternavn" } })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail adresse" } })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefonnummer" } })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.postalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postnr" } })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", @placeholder = "By" } })

        </div>












    </div>
        <div class="col-md-6">

            <h1>
                Order bestilling
            </h1>
            <br />



            @foreach (Item item in (List<Item>)Session["cart"])
            {

               <text>Produktnavn -</text> @item.Product.productName <br />
            <text>Produktpris -</text>  @item.Product.consignment.salePrice<br />
            <text>Produkt antal -</text>  @item.Quantity<br /><hr />

            }


        </div>
        <div class="col-md-12">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

}















</body>
</html>
