﻿
@using Outletshop.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>

        
            <div>
                <div class="col-md-10">
       
                    @Html.ActionLink("Fortsæt med at shoppe", "Index","Products")
                </div>
                <div class="col-md-2 pull-right">
                    @Html.ActionLink("Til kassen", "Checkout", "Cart")
                </div>

    
                <br>
                <br>
                <br>

                <table class="table">

                    <tr>
                        <th>
                            Slet
                        </th>
                        @*<th>
                            Id
                        </th>*@
                        <th>
                            Produktnavn
                        </th>
                        <th>
                            Produktpris
                        </th>
                        <th>
                            Antal
                        </th>
                        <th>
                            Total
                        </th>

                    </tr>



                    @foreach (Item item in (List<Item>)Session["cart"])
                        {

                            <tr>
                                <td>@Html.ActionLink(" ", "Delete", "Cart", new { id = item.Product.productId,  }, new { @class = "glyphicon glyphicon-trash" })</td>
                                @*<td>@item.Product.productId</td>*@
                                <td>@item.Product.productName</td>
                                <td>@item.Product.consignment.salePrice</td>
                                <td>@item.Quantity</td>
                                <td>@(item.Product.consignment.salePrice * item.Quantity)</td>


                            </tr>


                            }


                </table>




            </div>



    @ViewBag.Session

</body>
</html>