﻿@model Outletshop.Models.Database.Consignment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Consignment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.product.productName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.product.productName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.stock)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.stock)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.costPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.costPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.salePrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.salePrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.styleNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.styleNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.consignmentBrandId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.consignmentBrandId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.consignmentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
