﻿@model IEnumerable<Outletshop.Models.Database.Consignment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.styleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consignmentBrandId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.styleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consignmentBrandId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.consignmentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.consignmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.consignmentId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
